@{
  Layout = "_Layout";
}

@using Pierre.Models;

<h1>List of treats</h1>

@if (@Model.Count == 0)
{
  <h3>No treats have been added to this application yet!</h3>
} 

@foreach (Treat element in Model)
{
  <li>@Html.ActionLink($"{element.TreatName}", "Details", new { id = element.TreatId })</li>
}

@* <p>@Html.ActionLink("Add a new Treat", "Create")</p> *@

<input type="button" value="Add new Treat" onclick="location.href='@Url.Action("Create", "Treats")'" />

